.hero-unit {
	padding: 65px 60px;
	background: #616A75;
	font-size: 16px;
}

div.item {
    display: inline-block;
    padding: 5px;
}

.masonry img {
    width: 150px;
    height: 150px;
}

.fa-plus {
    display: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

aside {
	padding-left: 40px !important;
}

.col-md-7 img {
	max-width: 100%;
	}
	
.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}