.hero-unit {
	padding: 65px 60px;
	background: #616A75;
	font-size: 16px;
}

div.item {
    display: inline-block;
    padding: 5px;
}

.masonry img {
    width: 150px;
    height: 150px;
}

.fa-plus {
    display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,.lead,.nav {
  font-family: 'Roboto Condensed', sans-serif;
}
.nav {
    font-size: 16px;
}

aside {
	padding-left: 40px !important;
}

.col-md-7 img {
	max-width: 100%;
	}
	
.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}
.inverse-dropdown>li>a {
    color: #999;
}
.inverse-dropdown>li>a:hover{
     color: #fff;
     background-color: #000;
}
